.dashboard-page {
  .card-top {
    .title {
      margin: 0;
      padding: 0;
    }
    .rate {
      color: #fc8200;
      font-weight: 500;
      font-size: 30px;
    }
    .des {
      margin: 0;
      padding: 0px;
      font-size: 16px;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .tab-table {
    margin-top: 30px;
    background-color: #fff;
    .radio-wrap {
      padding: 20px;
    }
    .content {
      .room-list {
        margin: 0px;
        padding: 0;
        .unit {
          margin: 0;
          padding: 0;
          line-height: 24px;
        }
        .list {
          display: block;
          clear: both;
          margin: 0;
          padding: 0;
          span {
            float: left;
          }
        }
      }
    }
  }
}
