.product-list {
  padding: 20px;
  text-align: center;
  .product-attr {
    margin: 0;
    padding: 0;
    span {
      display: inline-block;
    }
    span.label {
      font-weight: 500;
    }
  }
}
