.image-select-modal {
}
.wrap-select-modal {
  .imglist-modal {
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sub-title {
    height: 32px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 32px;
  }
}
.folder-menu {
  width: 180px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: #fff;
  dl {
    clear: both;
    margin: 0;
    padding: 0;
    dt {
      height: 35px;
      margin: 0;
      padding: 0 0 0 10px;
      color: #999;
      font-weight: 400;
      line-height: 35px;
    }
    dd {
      height: 40px;
      margin: 0 0 2px 0;
      padding: 0 0 0 20px;
      line-height: 40px;
      border-radius: 10px;
      cursor: pointer;
      .span {
        display: block;
        float: right;
        width: 20px;
        margin: 0;
        color: #999;
      }
    }
    dd:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
    dd.active {
      background-color: #e6f4ff;
      .dropdown {
        display: block;
      }
    }
  }
}
